#basket {
  margin-top: 120px;
  padding-bottom: 30px;
}

#basket .MuiButton-containedSecondary {
  color: #0d1117;
}

.actions {
  margin-top: 20px;
}

.actions a {
  color: #000000;
  margin-left: 15px;
  background-color: #03dac5;
}

.actions a:hover {
  background-color: #22c5b5;
}
/* ========= Basket Banner =========== */
.basket-banner {
  padding-top: 150px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #21262d;
  background-image: linear-gradient(to bottom right, #121212, #3d4a5d);
}

.basket-banner > div > div {
  align-items: center;
}

.basket-banner .brand {
  display: flex;
  align-items: center;
}

.basket-banner .brand svg {
  width: 100%;
  font-size: 220px;
}

.basket-banner .title {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.basket-banner a.shopping-button {
  color: #000000;
  background-color: #03dac5;
}
